asgiref==3.7.1
cfgv==3.3.1
distlib==0.3.6
Django==4.2.1
djangorestframework==3.14.0
filelock==3.12.2
identify==2.5.24
nodeenv==1.8.0
platformdirs==3.8.0
pre-commit==3.3.3
pytz==2023.3
PyYAML==6.0
sqlparse==0.4.4
typing_extensions==4.6.1
django-environ==0.11.2
django-cors-headers==4.3.0
django-celery-beat==2.6.0
psycopg2-binary==2.9.9
django-filter==23.4
django-phonenumber-field==7.2.0
gunicorn==20.1.0
phonenumbers==8.13.26
